div.banner {
  font-size: 16pt;
  line-height: 26pt;
}

h1.main-banner {
  font-size: 64pt;
  line-height: 68px;
  font-family: 'Graduate', sans-serif;
  padding-bottom: 20px;
}

img.main-banner {
  border: 1px solid black;
}

p.sub-banner {
  font-size: 16pt;
  line-height: 26px;
}

div.container {
  padding-top: 40px;
}

div.main-content form {
  padding-top: 10px;
}

