{% extends "legal_ipsum/base.html" %}
{% block content %}
  <div>
    <h2>About Legal Ipsum</h2>
    <p>Gibberish is a crowded space to play in.  It is already
    inhabited by such worthy efforts as:</p>
    <ul>
      <li><a href="http://www.lipsum.com">Lipsum.com</a></li>
      <li><a href="http://baconipsum.com/">Bacon Ipsum</a></li>
      <li><a href="http://veggieipsum.com/">Veggie Ipsum</a></li>
      <li><a href="http://veganipsum.com//">Vegan Ipsum</a></li>
      <li><a href="http://slipsum.com/">Samuel L. Ipsum (NSFW)</a></li>
    </ul>
    <p>So what are we doing here?  What added value do we bring to the
      table?  To be honest, we're not sure.  Mostly what's going on is
      that while trolling for an available domain name for a real
      project, I happened to notice that legalipsum.com was
      unregistered.  How I could I resist investing $10.99 in such an
      excellent domain?  The rest is history.</p>
    <h2>Project history</h2>
    <p>The domain name was registered on a Wednesday afternoon.  April
    18, 2012, to be exact.  A late night hacking session that very
    evening got the core Markov chain code built and tested.  Then, as
    is so often the case, the initial adrenaline rush wore off and the
    project lay fallow for days.</p>
    <p>Saturday morning rolled around.  It was a beautiful spring day.
    I could have been out there prepping my boat for the upcoming
    sailing season.  Or cleaning out the garage.  Or working in the
    garden.  I chose hacking and got to work.</p>
    <p>Set up a repo on Bitbucket.  Banged out a quick django app.
    Downloaded a bunch of open source licenses to use a text corpus.
    Snarfed a nice looking image from Wikipedia.  Some simple
    templates.  A little CSS.  Tweaked the Markov code so the result
    wasn't quite so random.</p>
    <h2>OK, it works, now what?</h2>
    <p>My boss mentioned the other day that if you're not a little
    embarrassed about the product, you waited too long to launch.
    Hmm, that seems to be rule #6
    from <a href="http://greylockvc.com/2011/03/22/ten-entrepreneurship-rules-for-building-massive-companies/">here</a>.
    Well, there's no doubt that releasing this would be an
    embarrassment, so I guess that means it's ready to go.  Who knows,
    this could be the next Instragram.</p>
    <h2>Who did this?</h2>
    <p>Legal Ipsum is a production of <a href="http://cityislandsoftware.com/">City Island Software</a></p>
  </div>
{% endblock %}
