<!DOCTYPE html>
<html lang="en">
  {% include "legal_ipsum/head.html" %}
  <body>
    <div class="container">
      <div class="row">
	<div class="span4">
	  <img class="main-banner" src="/static/img/authority-of-law.475x480.jpg" width="300px"/>
	  <ul class="nav nav-pills nav-stacked">
	    <li><a href="/">Home</a></li>
	    <li><a href="/about">About</a></li>
	  </ul>
	</div>
	<div class="span8">
	  {% include "legal_ipsum/banner.html" %}
	  {% block content%}
	    override me!
	  {% endblock %}
	</div>
      </div><!-- row -->
    </div><!-- container -->
  </body>
</html>
