{% extends "legal_ipsum/base.html" %}
{% block content %}
  <div>
    <h2>Credits</h2>
    <p>All kinds of groovy open-source software was used to make this
      site.  Some of the more significant
      are <a href="http://www.ubuntu.com/">Ubuntu Linux</a>,
      <a href="http://python.org">Python</a>,
      <a href="https://www.djangoproject.com/">Django</a>,
      <a href="http://wiki.nginx.org">Nginx</a>,
      and <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
    <p><em>Authority of Law by James Earle Fraser</em>, image licensed
under Creative Commons Attribution 2.0 Generic.  Downloaded from
<a href="http://commons.wikimedia.org/wiki/File:%22Authority_of_Law%22_by_James_Earle_Fraser.jpg">
http://commons.wikimedia.org/wiki/File:"Authority_of_Law"_by_James
Earle Fraser.jpg</a></p>
  </div>
{% endblock %}
