<head>
  <title>Legal Ipsum</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >

  <!-- fonts -->
  <link href='http://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'>

  <!-- stylesheets -->
  <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="/static/css/legal_ipsum.css" type="text/css">

  <!-- Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31116163-4']);
    _gaq.push(['_trackPageview']);
    
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
