{% extends "legal_ipsum/base.html" %}
{% block content %}
  <div class="banner">
    <h1 class="main-banner">Legal Ipsum</h1>
    <p class="sub-banner">For those times when you need some
      legal-sounding gibberish but don't have the budget to hire a lawyer
      to write you some at $400/hr.</p>
  </div>
  <div>
    <form method="get" action="/text">
      Give me <select name="count">
	<option>1</option>
	<option>2</option>
	<option>3</option>
	<option>5</option>
	<option>8</option>
	<option>13</option>
	</select> paragraphs of gibberish.
      <input type="submit" value="Go!"/>
    </form>
  </div>
{% endblock %}
