{% extends "legal_ipsum/base.html" %}
{% block content %}
  <div class="main-content">
    <form class="form-inline" method="get" action="/text">
      <select class="select-count" name="count">
	<option {% if selected ==  "1" %} selected {% endif %} value="1" >1 paragraph</option>
	<option {% if selected ==  "2" %} selected {% endif %} value="2" >2 paragraphs</option>
	<option {% if selected ==  "3" %} selected {% endif %} value="3" >3 paragraphs</option>
	<option {% if selected ==  "5" %} selected {% endif %} value="5" >5 paragraphs</option>
	<option {% if selected ==  "8" %} selected {% endif %} value="8" >8 paragraphs</option>
	<option {% if selected == "13" %} selected {% endif %} value="13">13 paragraphs</option>
      </select>
      <input type="submit" value=" Go ! "/>
    </form>
    {% for p in paragraphs %}
    <p>{{ p }}</p>
    {% endfor %}
  </div>
{% endblock %}
